<section class="section hourly-forecast" aria-label="hourly forecast">
  <div class="card card-lg">
    <h2 class="title-2" id="highlights-label">{{ 'label.hourly.section.title' | translate }}</h2>
    <div class="tabs">
      <button (click)="setActiveTab('weather')" [class.active]="activeTab === 'weather'">{{ 'label.hourly.tab.title.weather' | translate }}</button>
      <button (click)="setActiveTab('wind')" [class.active]="activeTab === 'wind'">{{ 'label.hourly.tab.title.wind' | translate }}</button>
    </div>
    <div *ngIf="activeTab === 'weather'" class="tab-content weather">
      <div class="slider-container">
        <ul class="slider-list">
          <li *ngFor="let forecast of forecastList" class="slider-item">
            <div class="card card-sm slider-card">
              <p class="body-3">{{ forecast.dateTime | date: 'h a' }}</p>
              <p class="label-1 rain-probability" [class.visible]="forecast.probabilityOfRain > 0.3">{{ rainProbability(forecast.probabilityOfRain) }}</p>
              <img [src]="'assets/img/weather_icons/' + forecast.icon + '.png'" width="48" height="48"
                  [alt]="forecast.description" class="weather-icon" [title]="forecast.description | capitalizeFirstWord">
              <p class="body-3">{{ forecast.temp | parseInt }}°</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div *ngIf="activeTab === 'wind'" class="tab-content wind">
      <div class="slider-container">
        <ul class="slider-list">
          <li *ngFor="let forecast of forecastList.slice(0, 8)" class="slider-item">
            <div class="card card-sm slider-card">
              <p class="body-3">{{ forecast.dateTime | date: 'h a' }}</p>
              <p class="label-1 rain-probability" [class.visible]="forecast.probabilityOfRain > 1">{{ rainProbability(forecast.probabilityOfRain) }}</p>
              <img src="assets/img/weather_icons/direction.png" width="48" height="48" alt=""
                  class="weather-icon" [style.transform]="'rotate(' + (forecast.windDirection - 180) + 'deg)'">
              <p class="body-3">{{ mpsToKmh(forecast.windSpeed) | parseInt }} km/h</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
