<section class="section hourly-forecast" aria-label="hourly forecast">
    <h2 class="title-2">{{ 'label.hourly.section.title' | translate }}</h2>
    <div class="slider-container">
        <ul class="slider-list">
            <li *ngFor="let forecast of forecastList" class="slider-item">
                <div class="card card-sm slider-card">
                    <p class="body-3">{{ forecast.dateTime | date: 'h a' }}</p>
                    <img [src]="'assets/img/weather_icons/' + forecast.icon + '.png'" width="48" height="48"
                        [alt]="forecast.description" class="weather-icon" [title]="forecast.description | capitalizeFirstWord">
                    <p class="body-3">{{ forecast.temp | parseInt }}&deg;</p>
                </div>
            </li>
        </ul>
        <ul class="slider-list">
            <li *ngFor="let forecast of forecastList.slice(0, 8)" class="slider-item">
                <div class="card card-sm slider-card">
                    <p class="body-3">{{ forecast.dateTime | date: 'h a' }}</p>
                    <img src="assets/img/weather_icons/direction.png" width="48" height="48" alt=""
                        class="weather-icon" [style.transform]="'rotate(' + (forecast.windDirection - 180) + 'deg)'">
                    <p class="body-3">{{ mpsToKmh(forecast.windSpeed) | parseInt }} km/h</p>
                </div>
            </li>
        </ul>
    </div>
</section>