.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.spinner {
    border: 5px solid var(--border-loading);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-left-color: var(--primary);
    animation: spin 1s ease infinite;
}

.component-loaded {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
