.forecast-card :is(.card-item, .icon-wrapper) {
    display: flex;
    align-items: center;
}

.card-item:not(:last-child) {
    margin-block-end: 12px;
}

.icon-wrapper {
    gap: 8px;
    width: -webkit-fill-available;
}

.span>.title-2{
    margin-block-end: 0;
}

.label-1 {
    color: var(--on-surface-variant);
    font-weight: var(--weight-semiBold);
}

.card-item>.label-1 {
    width: 100%;
    text-align: right;
}

@media (min-width: 768px) {
    .card-item:not(:last-child) {
        margin-block-end: 16px;
    }
}

@media (min-width: 1200px) {
    .title-2 {
        --title-2: 2.2rem;
    }
}