.highlights .m-icon {
    font-size: 3.2rem;
}

.highlight-list {
    display: grid;
    gap: 20px;
}

.highlight-list .title-3 {
    color: var(--on-surface-variant);
    margin-block-end: 20px;
}

.highlights .card-sm {
    background-color: var(--black-alpha-10);
    position: relative;
}

.highlight-card :is(.wrapper, .card-list, .card-item) {
    display: flex;
    align-items: center;
}

.highlight-card .wrapper {
    justify-content: space-between;
    gap: 16px;
}

.highlight-card .card-list {
    flex-wrap: wrap;
    flex-grow: 1;
    row-gap: 8px;
}

.highlight-card .card-item {
    width: 50%;
    justify-content: flex-end;
    gap: 4px;
}

.highlight-card .label-1 {
    color: var(--on-surface-variant);
}

.badge {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 2px 12px;
    border-radius: var(--radius-pill);
    font-weight: var(--weight-semiBold);
    cursor: help;
}

.badge.api-1 {
    background-color: var(--bg-aqi-1);
    color: var(--on-bg-aqi-1);
}

.badge.api-2 {
    background-color: var(--bg-aqi-2);
    color: var(--on-bg-aqi-2);
}

.badge.api-3 {
    background-color: var(--bg-aqi-3);
    color: var(--on-bg-aqi-3);
}

.badge.api-4 {
    background-color: var(--bg-aqi-4);
    color: var(--on-bg-aqi-4);
}

.badge.api-5 {
    background-color: var(--bg-aqi-5);
    color: var(--on-bg-aqi-5);
}

.highlight-card.two .card-item {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px 16px;
}

.highlight-card.two .label-1 {
    margin-block-end: 4px;
}

@media (min-width: 768px) { 
    .highlight-list {
        grid-template-columns: 1fr 1fr;
      }
    
      .highlight-card:nth-child(-n + 2) {
        grid-column: span 2;
        height: 160px;
      }
    
      .highlight-card:nth-child(n + 3) {
        height: 120px;
      }
    
      .highlights .m-icon {
        font-size: 3.6rem;
      }
    
      .highlight-card.one .card-item {
        width: 25%;
        flex-direction: column-reverse;
        gap: 8px;
      }
}

@media (min-width: 1200px) {
    .highlight-card.two .card-item {
        column-gap: 24px;
      }

      .highlight-card:nth-child(-n + 2) {
        height: 200px;
      }
    
      .highlight-card:nth-child(n + 3) {
        height: 150px;
      }
    
      .highlight-card .m-icon {
        font-size: 4.8rem;
      }
}

@media (min-width: 1400px) {
    .highlight-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }