<section class="section highlights" aria-labelledby="highlights-label">
    <div *ngIf="highlightsData" class="card card-lg">
        <h2 class="title-2" id="highlights-label">{{ 'label.highlights.title' | translate }}</h2>
        <div class="highlight-list">
            <div class="card card-sm highlight-card one">
                <h3 class="title-3">{{ 'label.highlights.air.quality' | translate }}</h3>
                <div class="wrapper">
                    <span class="m-icon">air</span>
                    <ul class="card-list">
                        <li class="card-item">
                            <p class="title-1">{{ highlightsData.pm2_5 }}</p>
                            <p class="label-1">PM<sub>2.5</sub></p>
                        </li>
                        <li class="card-item">
                            <p class="title-1">{{ highlightsData.so2 }}</p>
                            <p class="label-1">SO<sub>2</sub></p>
                        </li>
                        <li class="card-item">
                            <p class="title-1">{{ highlightsData.no2 }}</p>
                            <p class="label-1">NO<sub>2</sub></p>
                        </li>
                        <li class="card-item">
                            <p class="title-1">{{ highlightsData.o3 }}</p>
                            <p class="label-1">O<sub>3</sub></p>
                        </li>
                    </ul>
                </div>
                <span class="badge api-{{ highlightsData.aqi }} label-2"
                    title="{{ utilityService.apiText[highlightsData.aqi].message | translate }}">
                    {{ utilityService.apiText[highlightsData.aqi].level | translate }}
                </span>
            </div>
            <div class="card card-sm highlight-card two">
                <h3 class="title-3">{{ 'label.highlights.sunrise.sunset.title' | translate }}</h3>
                <div class="card-list">
                    <div class="card-item">
                        <span class="m-icon">clear_day</span>
                        <div>
                            <p class="label-1">{{ 'label.highlights.sunrise' | translate }}</p>
                            <p class="title-1">{{ sunriseTime }}</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <span class="m-icon">clear_night</span>
                        <div>
                            <p class="label-1">{{ 'label.highlights.sunset' | translate }}</p>
                            <p class="title-1">{{ sunsetTime }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-sm highlight-card">
                <h3 class="title-3">{{ 'label.highlights.humidity' | translate }}</h3>
                <div class="wrapper">
                    <span class="m-icon">humidity_percentage</span>
                    <p class="title-1">{{ humidity }}<sub>%</sub></p>
                </div>
            </div>
            <div class="card card-sm highlight-card">
                <h3 class="title-3">{{ 'label.highlights.pressure' | translate }}</h3>
                <div class="wrapper">
                    <span class="m-icon">airwave</span>
                    <p class="title-1">{{ pressure }}<sub>hPa</sub></p>
                </div>
            </div>
            <div class="card card-sm highlight-card">
                <h3 class="title-3">{{ 'label.highlights.visibility' | translate }}</h3>
                <div class="wrapper">
                    <span class="m-icon">visibility</span>
                    <p class="title-1">{{ visibility || 'N/A' | parseInt }}<sub>Km</sub></p>
                </div>
            </div>
            <div class="card card-sm highlight-card">
                <h3 class="title-3">{{ 'label.highlights.feels.like' | translate }}</h3>
                <div class="wrapper">
                    <span class="m-icon">thermostat</span>
                    <p class="title-1">{{ feelsLike | parseInt }}&deg;<sup>c</sup></p>
                </div>
            </div>
        </div>
    </div>
</section>